*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#141414;
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    margin: auto;
}

header{
    padding: 20px 0px;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;/* quito la negrita por defecto que pone el navegador */
    font-size: 40px;
    color: #E50914;
}

header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo
{
    color: #FFF;
}

/*-------------------------------- pelicula principal -------------------------------------*/

.pelicula-principal{

    font-size: 16px;
    min-height: 450px; /*40.62em*/
    color: #FFF;  
    background:linear-gradient(rgba(0,0,0,.20) 0%,rgba(0,0,0,.20) 100%), url(pelicula.jpg);
    background-position: center top;
    background-size: cover;
    margin-bottom: 50px;/*3.12em*/
    display: flex;
    align-items: flex-end;
}

.pelicula-principal .contenedor{
    margin: 0px auto;
    margin-bottom: 60px;/*3.75em*/
}

.pelicula-principal .titulo{
    font-weight: 600;
    font-size: 50px;/*3.12em*/
    margin-bottom: 20px;/*0.4em*/
}

.pelicula-principal .descripcion{
    font-weight: normal;
    font-size: 16px;/*1em*/
    line-height: 28px;/*1.75em*/
    max-width: 50%;
    margin-bottom: 20px;/*1.25em*/
}

.pelicula-principal .boton{
    background: rgba(0,0,0,.5);
    border: none;
    border-radius: 5px;/*0.31em*/
    padding: 15px 30px;/*0.93 1.87*/
    color: #FFF;
    font-size: 18px;/*1.12em*/
    margin-right: 20px;/*1.25em*/
    cursor: pointer;
    transition: .3s ease all;
}

.pelicula-principal .boton:hover{
    background: #FFF;
    color: #000;
}

.pelicula-principal .boton i{
    margin-right: 20px;/*1.25em*/
}


/* ------------------------RESPONSIVE------------------------- */

@media screen and (max-width:700px){

    header .contenedor{
    
        display: block;
        width: 100%;
    }

    header .contenedor .logotipo{
        text-align: center;
    }

    header nav{
       width: fit-content;
        margin: auto;
    }
    
    header nav a{
        font-size: 14px;
        margin-right: 5px;
    }

    .pelicula-principal{
        height: 300px;
        background-position: right top;
    }
    .pelicula-principal .contenedor{
        margin-bottom: 20px;
    }
    .pelicula-principal .titulo{
        font-weight: 600;
        font-size: 30px;/*3.12em*/
        margin-bottom: 20px;/*0.4em*/
    }
    
    .pelicula-principal .descripcion{
        font-weight: normal;
        font-size: 14px;/*1em*/
        line-height: 20px;/*1.75em*/
        max-width: 100%;
        margin-bottom: 10px;/*1.25em*/
    }
    
    .pelicula-principal .boton{
      
        border-radius: 5px;/*0.31em*/
        padding: 10px 15px;/*0.93 1.87*/
        font-size: 14px;/*1.12em*/
        margin-right: 5px;/*1.25em*/
        cursor: pointer;
        
    }
    
}



